/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-06-2019, 22:34:34
    Author     : Juan Hamilton
*/
#ta0_41_3, #ta0_41_2 {display: inline-block; *display: inline; zoom: 1; vertical-align: top; }
#ta0_41_3{ width: 30%;}
#ta0_41_2{ width: 60%;}

#fotito{width: 70%;
        margin-top: 30px;
        
}

.margen50{
    margin-left: 50px;
    
}